## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Grindavik,IS,63.8424,-22.4338,50.47,71,40,13.80,scattered clouds
1,1,Lompoc,US,34.6391,-120.4579,69.69,61,0,17.00,clear sky
2,2,Amuntai,ID,-2.4177,115.2494,74.41,98,100,0.74,overcast clouds
3,3,Sao Filipe,CV,14.8961,-24.4956,72.95,70,0,11.72,clear sky
4,4,Gazli,UZ,40.1333,63.4500,76.87,25,45,14.58,scattered clouds

In [9]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like at your destination?"))
max_temp = float(input("What is the maximum temperature you would like at your destination?"))

What is the minimum temperature you would like at your destination?65
What is the maximum temperature you would like at your destination?80

In [12]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
chosen_city_data = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)].dropna()
chosen_city_data

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Lompoc,US,34.6391,-120.4579,69.69,61,0,17.00,clear sky
2,2,Amuntai,ID,-2.4177,115.2494,74.41,98,100,0.74,overcast clouds
3,3,Sao Filipe,CV,14.8961,-24.4956,72.95,70,0,11.72,clear sky
4,4,Gazli,UZ,40.1333,63.4500,76.87,25,45,14.58,scattered clouds
5,5,Lahij,YE,13.1667,44.5833,79.52,56,0,7.27,clear sky
...,...,...,...,...,...,...,...,...,...,...
670,670,Marzuq,YE,14.4000,46.4667,72.88,56,14,4.61,few clouds
672,672,Tarakan,ID,3.3000,117.6333,79.57,79,99,0.67,overcast clouds
673,673,Las Margaritas,MX,16.3167,-91.9833,74.97,55,96,6.35,overcast clouds
675,675,Impfondo,CG,1.6381,18.0667,71.73,96,99,3.18,light rain
683,683,Hambantota,LK,6.1241,81.1185,77.34,100,40,5.75,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [9]:
# 7. Drop the rows where there is no Hotel Name.

In [10]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure